server:
  port: 0

spring:
  application:
    name: analyzer

  config:
    import: "configserver:"

  cloud:
    config:
      discovery:
        enabled: true
        service-id: config-server
      fail-fast: true
      retry:
        useRandomPolicy: true
        max-interval: 6000

eureka:
  client:
    register-with-eureka: true
    service-url:
      defaultZone: "http://${eureka.instance.hostname:localhost}:${eureka.instance.port:8761}/eureka/"

  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${random.value}
    hostname: localhost
    lease-renewal-interval-in-seconds: 10

grpc:
  server:
    port: 0