spring:
  application:
    name: config-server
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          searchLocations:
            - classpath:config/{application}
server:
  port: 8888
eureka:
  instance:
    hostname: localhost  # Явно указать localhost
    preferIpAddress: false
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/