version: '3.8'

services:
  ewm-db:
    image: postgres:16.1
    container_name: ewm-postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=ewm
      - POSTGRES_USER=ewm
      - POSTGRES_DB=ewm
    volumes:
      - postgres_ewm_data:/var/lib/postgresql/data

  stats-db:
    image: postgres:16.1
    container_name: stats-postgres
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_PASSWORD=test
      - POSTGRES_USER=test
      - POSTGRES_DB=stats
    volumes:
      - postgres_stats_data:/var/lib/postgresql/data

volumes:
  postgres_ewm_data:
  postgres_stats_data: