version: '3.8'

networks:
  ewm-network:
    driver: bridge
    name: ewm-network

services:
  # Базы данных
  stats-db:
    image: postgres:16.1
    container_name: stats-db
    ports:
      - "5436:5432"
    environment:
      - POSTGRES_DB=stats
      - POSTGRES_USER=test
      - POSTGRES_PASSWORD=test
    volumes:
      - ./volumes/postgres/stats_data:/var/lib/postgresql/data/
    networks:
      - ewm-network

  comment-db:
    image: postgres:16.1
    container_name: comment-db
    ports:
      - "5435:5432"
    environment:
      - POSTGRES_DB=comment_db
      - POSTGRES_USER=ewm
      - POSTGRES_PASSWORD=ewm
    volumes:
      - ./volumes/postgres/comment_data:/var/lib/postgresql/data/
    networks:
      - ewm-network

  event-db:
    image: postgres:16.1
    container_name: event-db
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_DB=event_db
      - POSTGRES_USER=ewm
      - POSTGRES_PASSWORD=ewm
    volumes:
      - ./volumes/postgres/event_data:/var/lib/postgresql/data/
    networks:
      - ewm-network

  request-db:
    image: postgres:16.1
    container_name: request-db
    ports:
      - "5434:5432"
    environment:
      - POSTGRES_DB=request_db
      - POSTGRES_USER=ewm
      - POSTGRES_PASSWORD=ewm
    volumes:
      - ./volumes/postgres/request_data:/var/lib/postgresql/data/
    networks:
      - ewm-network

  user-db:
    image: postgres:16.1
    container_name: user-db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=user_db
      - POSTGRES_USER=ewm
      - POSTGRES_PASSWORD=ewm
    volumes:
      - ./volumes/postgres/user_data:/var/lib/postgresql/data/
    networks:
      - ewm-network

  analyzer-db:
    image: postgres:16.1
    container_name: analyzer-db
    ports:
      - "6538:5432"
    environment:
      - POSTGRES_DB=analyzer-db
      - POSTGRES_USER=adb
      - POSTGRES_PASSWORD=password
    volumes:
      - ./volumes/postgres/analyzer_data:/var/lib/postgresql/data/
    networks:
      - ewm-network

  # ZooKeeper
  zookeeper:
    image: wurstmeister/zookeeper:latest
    container_name: zookeeper
    ports:
      - "2181:2181"
    networks:
      - ewm-network

  # Kafka
  kafka:
    image: wurstmeister/kafka:2.13-2.8.1
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_CREATE_TOPICS: "stats.user-actions.v1:3:1,stats.events-similarity.v1:3:1"
    networks:
      - ewm-network