spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/user_db
    username: ewm
    password: ewm
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  mvc:
    format:
      date-time: yyyy-MM-dd HH:mm:ss

feign:
  circuitbreaker:
    enabled: true

resilience4j:
  retry:
    instances:
      user-service:
        max-attempts: 3
        wait-duration: 1000ms
  circuitbreaker:
    configs:
      default:
        sliding-window-size: 10
        minimum-number-of-calls: 5
        permitted-calls-in-half-open-state: 3
        wait-duration-in-open-state: 5s
        failure-rate-threshold: 50

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: never
      probes:
        enabled: true

logging:
  level:
    ru.practicum: DEBUG
    org.hibernate.SQL: DEBUG