spring:
  kafka:
    bootstrap-servers: localhost:9092

kafka:
  topic: stats.user-actions.v1

logbook:
  format:
    style: http

logging:
  level:
    org.springframework.web: INFO
    org.springframework.orm.jpa: INFO
    org.springframework.transaction: INFO
    org.springframework.transaction.interceptor: INFO
    org.springframework.orm.jpa.JpaTransactionManager: INFO
    org.zalando.logbook: TRACE