spring:
  datasource:
    url: jdbc:postgresql://localhost:5434/request_db
    username: ewm
    password: ewm
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  mvc:
    format:
      date-time: yyyy-MM-dd HH:mm:ss

logging:
  level:
    ru.practicum: DEBUG
    org.hibernate.SQL: DEBUG