grpc:
  server:
    port: 0

spring:
  datasource:
    url: jdbc:postgresql://localhost:6538/analyzer-db
    username: adb
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

logging:
  level:
    ru.practicum: DEBUG
    org.hibernate.SQL: DEBUG