server:
  port: 0  # Динамический порт

spring:
  application:
    name: main-service
  config:
    import: "configserver:"
  cloud:
    config:
      discovery:
        enabled: true
        service-id: config-server
      fail-fast: false

# Eureka на ФИКСИРОВАННОМ порту 8761
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    preferIpAddress: true
    instance-id: ${spring.application.name}:${random.int[10000,99999]}
    lease-renewal-interval-in-seconds: 10